<div class="formContainer">
    <div class="logoContainer">
        <img src="./img/vrlogo.png" alt="Global logo">
    </div>
    <form id="formLogin" method="post">
        <label for="email">
            <input type="email" name="email" id="email" placeholder="Correo electrónico">
        </label>
        <label for="password">
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </label>
        <button type="submit">INGRESAR</button>
    </form>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="./js/login.js"></script>